{% include "head.html" %} 
<ul>
  <li><a href="/">Newsfeed</a></li>
  <li><a href="/user/profile">Profile</a></li>
  <li><a href="/user/settings">Settings</a></li>
</ul>

{% for each in top_headlines %}
<div class="py-4">
  <img src="{{each.thumbnailUrl}}" width="300px" />
  <br />
  <a href="{{each.url}}" target="_blank">{{ each.title }}</a>
  <br />
  <small>{{each.source.name}} | {{ each.source.country }} </small>
  <p>{{each.description}}</p>
</div>
{% endfor %}

<div>
  {%if offset != -1%}
  <a href="/?offset={{offset|add:10}}">Previous</a>
  {% else %}
  Reached Last Page
  <a href="/">Go to index</a>
  {% endif %}
</div>